{{! customer-form.hbs }}
{{#extends "base"}}
{{#block "content"}}
<h2>{{#if customer}}Edit Customer{{else}}Add Customer{{/if}}</h2>
<form action="{{#if customer}}/customers/edit/{{customer.customer_id}}{{else}}/customers/new{{/if}}" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="{{customer.name}}" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{customer.email}}" required>

    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" value="{{customer.phone}}" required>

    <button type="submit">{{#if customer}}Update{{else}}Create{{/if}}</button>
</form>


<a href="/customers">Cancel</a>
<h1>customer</h1>
<table class="table">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Rating</th>
        <th>Company</th>
    </tr>
    {{#each customer}}
    <tr>
        <td>{{first_name}}</td>
        <td>{{last_name}}</td>
        <td>{{rating}}</td>
        <td>{{name}}</td>
    </tr>
    {{/each}}
</table>
{{/block}}


{{/extends}}