{{#extends "base"}}
{{#block "content"}}
<h2>customer</h2>

           
<table>
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each customer}}
        <tr>
            <td>{{customer_id}}</td>
            <td>{{name}}</td>
            <td>{{email}}</td>
            <td>{{phone}}</td>
            <td>
                <a href="/customers/edit/{{customer_id}}">Edit</a>
                <form action="/customers/delete/{{customer_id}}" method="POST" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>


<a href="/customers/new">Add New Customer</a>


{{/block}}
{{/extends}}